.DS_Store

__pycache__/
*.py[cod]
*.pth
.ipynb_checkpoints/
.mypy_cache/


.venv/
.venv*/
source/           # (your venv scaffold)

data/raw/
data/cache/
data/interim/
data/processed/windows/
results/
checkpoints/
*.npz
*.pt


*.log
wandb/
mlruns/

.vscode/